.footer {
  border-top: 4px solid $primary-color;
  padding-top: 3rem;
  &__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__link {
    position: relative;
    right: 0;
    display: inline-block;
    padding: 1rem 0;
    color: $gray-dark;
    font-weight: 400;
    font-size: 1.3rem;
    transition: all 0.2s linear;
    &:hover {
      right: -1rem;
      color: $primary-color;
    }
  }
  &__icon {
    padding: 0 1rem;
  }

  &__download {
      display: flex;
  }
  &__download-qr {
      width: 8rem;
  }
  &__download-apps {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 2rem;
  }
  &__download-img {
    width: 10rem;
  }
}

.footer-bottom {
    margin-top: 3rem;
    background-color: $gray-light;
    text-align: center;
}
.footer-text {
    font-weight: 400;
    padding: 1rem 0;
}
