.header {
  height: 10rem;
  background: linear-gradient(0, #579aff, #0b69f7);
  color: #fff;
  &__search {
    flex: 1;
    padding: 0 5rem;
  }
  &__logo-img {
    max-width: 12rem;
  }
  &__search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 3px;
  }
  &__search-input {
    flex: 1;
    border: none;
    margin: 0 1rem;
  }
  &__search-btn {
    padding: 0.5rem 2rem;
    border: none;
    background-color: $primary-color;
    color: #fff;
    border-radius: 3px;
  }
  &__temp {
    display: flex;
    align-items: center;
  }
  &__temp-address {
    margin-right: 1rem;
  }
  &__temp-img {
    margin-left: 1rem;
    width: 3rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    padding: 1rem 0;
  }
  &__item {
    padding: 0 1rem;
    &--qr {
      position: relative;
      border-right: 3px solid #eee;
    }
    &--qr:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7);
    }
    &--qr:hover .qrcode {
      display: block;
      animation: fadeIn 0.2s linear;
    }
  }
  &__icon-link {
    padding: 1rem 0.5rem;
    &:hover {
      opacity: 0.6;
    }
  }
  &__icon {
    color: #fff;
  }
  &__user {
    display: flex;
    align-items: center;
    &-image {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}

// qrcode
.qrcode {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 1rem;
  border-radius: 3px;
  &__img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  &__apps {
    display: flex;
    align-items: center;
  }
  &__link {
    padding: 1rem 1rem 0;
  }
}

.header-with-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  display: none;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem 0;
  transition: all 0.3s linear;
  background-color: #fff;
}
